body {background-color: rgb(58, 56, 56); font-style: serif;}
h1{color: red; font-weight: bolder; background-color: rgb(0, 0, 0); width:180px;}
h2{color: white; font-weight: bolder;}
h3{color:white; font-style: oblique;}
p{color: white; size:25px}
img{border-radius: 40px; height:180px; width: 180px;}
li{color:red; background-color: rgb(0, 0, 0);}
ol{color:rgb(255, 23, 23)}
button{color: red; background-color: whitesmoke; height:80px; width:100px;}
.outro{color:red; font-style: oblique;}
li{width: 85px; height: 40px;}
.final{color:red; font-weight: bolder; width: 340px;}


