body {background-color: black; font-style: serif;}
h1{color: red; font-weight: bolder; background-color: blanchedalmond; width:180px;}
h2{color: white}
h3{color:white}
p{color: white; size:25px}
img{border-radius: 40px; height:180px; width: 180px;}
li{color:red; background-color: blanchedalmond; width:80px;}
ol{color:rgb(255, 23, 23)}
button{color: red; background-color: whitesmoke; height:80px; width:100px;}
.outro{color:red}

